* {
    font-family: 'Lato', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

.logo {
    position: absolute;
    width: 135px;
    height: 28px;
    left: 24px;
    top: 24px;
}

::placeholder, :-ms-input-placeholder  {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #777582;
}


/* ~~ Top Navigation Bar ~~ */

#navigation-container {
    margin: 0 auto;
    height: 80px;
    position: relative;
}

.navigation-bar {
    background: #1B1A21;
    opacity: 0.96;
    height: 80px;
    width: 100%;
}


/* Box */

.box {
    position: relative;
    top: 80;
    display: block;
    width: 100%;
    align-content: center;
}

.title {
    position: relative;
    font-family: 'Lato';
    font-style: normal;
    margin: auto;
    text-align: center;
    font-weight: 700;
    font-size: 34px;
    line-height: 42px;
    color: #1B1A21;
    margin-bottom: 16px;
    /* margin-left: -25px; */
}

.box p {
    font-family: 'Lato';
    font-style: normal;
    /* margin: auto 10%; */
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
    color: #777582;
    margin-bottom: 24px;
}

.heading-logo {
    position: relative;
    width: 120px;
    height: 120px;
    top: 80px;
    margin: auto;
    background: #F9EDFF;
    border-radius: 60px;
    align-self: center;
    display: block;
    align-items: center;
    align-content: center;
}

.heading-logo .calender {
    position: absolute;
    width: 49px;
    height: 60px;
    margin: 30px 35px 32px 35px;
    background: #F9EDFF;
    align-self: center;
    display: block;
    align-content: center;
    font-family: 'Font Awesome 5 Free';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 64px;
    background: linear-gradient(180deg, #AA00FF 0%, #00A3D7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

form {
    top: 120px;
    position: relative;
    margin: auto 30% auto 30%;
}

.form-control {
    text-align: left;
    margin-bottom: 25px;
}

.field-title {
    display: block;
    margin-bottom: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #4C4A57;
    margin-left: -5px;
    position: relative;
    margin-top: 24px;
}

.form-control .email-input input {
    position: relative;
    background: #F3F3F5;
    border-radius: 4px;
    font-family: inherit;
    width: 100%;
    height: 48px;
    justify-content: space-between;
    display: flex;
    padding: 8px 12px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #F3F3F5;
    font-family: inherit;
    -webkit-appearance: none;
    color: #777582;
    border-radius: 4px;
    box-sizing: border-box;
    position: static;
    background: #F3F3F5;
    border-radius: 4px;
}

.error {
    display: block;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
}

form.valid .email-input::after {
    content: "\f058";
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1000;
    font-family: 'Font Awesome 5 Pro';
    font-size: 14px;
    line-height: 20px;
    display: flex;
}

form.invalid .email-input::after {
    content: "\f071";
    position: absolute;
    right: 8px;
    top: 8px;
    z-index: 1000;
    font-family: 'Font Awesome 5 Pro';
    font-size: 14px;
    line-height: 20px;
    display: flex;
}

input[type=text]:focus {
    outline: 1px solid #C550FF;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #1B1A21;
}

.form-control input[type="radio"] {
    display: inline-block;
    color: #C550FF;
}


/* new */

.select-container {
    position: relative;
}

.select-box {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.select-box .options-container {
    position: absolute;
    background: #FFFFFF;
    color: #777582;
    width: 100%;
    visibility: hidden;
    border-radius: 4px;
    overflow: hidden;
    order: 1;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    border-radius: 4px;
    font-family: inherit;
}

.selected {
    position: static;
    background: #F3F3F5;
    border-radius: 4px;
    margin-bottom: 4px;
    height: 32px;
    left: 0px;
    justify-content: space-between;
    display: flex;
    align-items: center;
    font-family: inherit;
    line-height: 20px;
    font-size: 14px;
    font-weight: 400;
    color: #777582;
}

.select-box .options-container.active {
    color: #777582;
    width: 100%;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    align-items: center;
    color: #1B1A21;
    background-color: #ffffff;
    position: relative;
    top: 4px;
    visibility: visible;
    border: 1px solid #E6E5EA;
    box-sizing: border-box;
    filter: drop-shadow(0px 1px 4px rgba(27, 26, 33, 0.25));
}

.select-box .option,
.selected {
    padding: 8px 12px;
    cursor: pointer;
    height: 32px;
    position: sticky;
}

.select-box .option:hover {
    background: #F3F3F5;
    height: 32px;
}

.select-box label {
    cursor: pointer;
}

.select-box .option .radio {
    display: none;
}

.form-control .radio-field-title {
    margin-top: 24px;
    display: block;
    margin-bottom: 6px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #4C4A57;
    margin-left: -5px;
    position: relative;
}

.button {
    width: 228px;
    height: 40px;
    display: block;
    background: #8800CC;
    border-radius: 4px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 22px;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    position: relative;
    top: 40px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #8800CC;
}

.button:after {
    margin-left: 5px;
    content: "\f061";
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #FFFFFF;
}

.button:hover {
    background: #AA00FF;
}

.button:focus {
    background: #AA00FF;
}

.container {
    display: block;
    position: relative;
    padding-left: 24px;
    margin-bottom: 8px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    right: 0px;
    top: 0px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1B1A21;
    width: 156px;
    margin-right: 40px;
    margin-left: 5px;
}

.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0px;
    top: 0px;
    background: #FAFAFA;
    border: 1px solid #777582;
    box-sizing: border-box;
    border-radius: 64px;
}

.container input:checked~.checkmark {
    background-color: #8800CC;
    border: none;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.container input:checked~.checkmark:after {
    display: block;
}

label.container {
    margin-left: -18px;
}

.some-class {
    float: left;
    clear: none;
    display: flex;
}

label {
    float: left;
    clear: none;
    display: block;
    padding: 0px 1em 0px 8px;
}

input[type=radio],
input.radio {
    float: left;
    clear: none;
    margin: 2px 0 0 2px;
}

.radiotype {
    width: 16px;
    height: 16px;
    background: #FAFAFA;
    border: 1px solid #777582;
    box-sizing: border-box;
    border-radius: 64px;
}

input.radiotype:checked {
    background-color: #8800CC;
    border: 1px solid #8800CC;
}

input[type='radio'].radiotype:after {
    width: 16px;
    height: 16px;
    border-radius: 15px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #FAFAFA;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 1px solid #777582;
}

input[type='radio']:checked:after {
    width: 8px;
    height: 8px;
    border-radius: 16px;
    top: -2px;
    left: -1px;
    position: relative;
    background-color: #FAFAFA;
    content: '';
    display: inline-block;
    visibility: visible;
    border: 6px solid #8800CC;
}


/* Email */

#form #email {
    position: relative;
    background: #292929;
    padding: 10px;
    position: relative;
    background: #F3F3F5;
    border-radius: 4px;
    font-family: inherit;
    width: 100%;
    height: 48px;
    justify-content: space-between;
    display: flex;
    padding: 8px 12px;
    line-height: 32px;
    font-size: 14px;
    font-weight: 400;
    border: 1px solid #F3F3F5;
    font-family: inherit;
    -webkit-appearance: none;
    color: #777582;
    border-radius: 4px;
    box-sizing: border-box;
    position: static;
    background: #F3F3F5;
    border-radius: 4px;
}

#form .input-box {
    position: relative;
}

#text,
#radio-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #C41337;
}

#error-text {
    top: 24px;
    margin: auto 35%;
    position:relative;
} 

#select-text {
    position: relative;
}

#form.invalid .input-box::after {
    content: '\f071';
    position: absolute;
    right: 5px;
    bottom: 30px;
    width: 24px;
    height: 24px;
    font-family: 'Font Awesome 5 Free';
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    color: #C41337;
}

#form.invalid #email {
    background: #FFFFFF;
    border: 1px solid #C41337;
    box-sizing: border-box;
    border-radius: 4px;
}

#form.valid .input-box::before {
    content: '\f058';
    position: absolute;
    right: 5px;
    bottom: 12px;
    width: 24px;
    height: 24px;
    font-family: 'Font Awesome 5 Free';
    font-size: 14px;
    font-weight: 900;
    line-height: 20px;
    color: #00873F;
}

#form.valid #email {
    background: #F3F3F5;
    border: 1px solid #00873F;
    box-sizing: border-box;
    border-radius: 4px;
}